:root {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom, #b3eaf7, #9ddffd, #91d1ff, #95c1ff, #a7aeff, #baa3fb, #ce97f3, #e289e6, #ec88dc, #f487d2, #fa87c8, #ff88bf);;
}


main {
  position: relative;
  top: 85px;
  right: 10px;
  height: 750px;
  width: 1200px;
  background-color: white;
  border-radius: 25px;
  overflow-y: auto;
}

h1 {
  position: absolute;
  margin: 10px;
}

h2 {
  display: flex;
  justify-content: center;
}

p {
  padding: 10px;
  margin: 10px;
}


.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 750px;
  margin: 25px;
  padding: 3px;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer-content {
display: flex;
justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}