:root {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom, #b3eaf7, #9ddffd, #91d1ff, #95c1ff, #a7aeff, #baa3fb, #ce97f3, #e289e6, #ec88dc, #f487d2, #fa87c8, #ff88bf);;
}

/* ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

main {
  position: relative;
  top: 50px;
  right: 10px;
  height: 750px;
  width: 1000px;
  background-color: white;
  border-radius: 25px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 650px;
  margin: 25px;
  padding: 3px;
}

h1 {
  display: flex;
  justify-content: center;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer-content {
display: flex;
justify-content: center;
}